%tabs
{
    @extend %reset-list;

    &__item
    {
        &--vertical
        {
            display: block;    
            margin: .2em 0;

            a
            {
                position: relative;
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                background-color: $greyLighter;

                &:hover
                {
                    background-color: $greyLight;
                }
            }

            &--active{
                background-color: $greyLight;
                border-left: 2px solid $blue; 

                a{
                    background-color: $greyLight;
                    color: $blackDark;
                }
            }
        }
    }
}
