//SETTINGS
$fontSizeBase   : 1.3rem !default;

html {
    @include box-sizing(border-box);

    font-size: 62.5%;
    color: $black;
  	-ms-overflow-style: scrollbar;
  	-webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: $fontSizeBase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover, &:focus{
  		text-decoration: underline;
  }
}

blockquote{
  padding: 10px;
  margin: 0 0 20px;
  font-size: 1.6rem;
  border-left: 5px solid #eee;
}

textarea {
   resize: none;
}

select{
    -webkit-appearance: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAAXNSR0IArs4c6QAAAJ1JREFUCB1jzMnJCWdkZBSdPHnyFAYk0NDQwPbmzZuVTExMk5iA4p7//v2bDFScC1OzatUqZqCC5f////cHyikwiYiIJAFNWgIUmARSCKQZDx48OAdIBwJNSZ8yZcp8RpBuoNFMQJ0LgRIxQO4hILYFKsgEOmEmSJ4ZRBw4cOC/l5fXxu/fvysDub5Ak3OAJswAyWEAkIm5ublu6BIADTRHW7YWzxEAAAAASUVORK5CYII=');
    background-position: right 7px center;
    background-repeat: no-repeat;
}